@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg: #000;
  }

  html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    background: var(--bg);
    color: #fff;
    font-family: ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
  }
}
